<!DOCTYPE html>
<html lang="en" data-bs-theme="midnight">
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../css/custom.css" />
        <script src="../../bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <script>
            MathJax = { tex: { inlineMath: [ ['$', '$'], ['\\(', '\\)'] ] } };
        </script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
        <script type="text/javascript" src="../../node_modules/marked/marked.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <div class="sticky-top p-3 bg-primary text-white text-left">
            <img src="../../equation.svg" class="img-fluid" width="80em" fill=white></img>
        </div>
        <div class="sticky-bottom bg-secondary p-3 d-flex justify-content-between align-items-center">
            <div class="left-buttons">
                <a href="#link" class="btn btn-info" role="button">
                    <span class="bi-arrow-left"></span>
                </a>
            </div>
            <div class="right-buttons">
                <a href="https://github.com/julianjshapiro/witega" class="btn btn-primary" role="button">
                <span class="bi-github"></span>
                </a> &nbsp;&nbsp;&nbsp; <a href="#link" class="btn btn-primary" role="button">
                <span class="bi-gear"></span>
                </a>
            </div>
        </div>
    </body>
</html>